@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background: rgb(255, 227, 247);
    margin: auto;
    max-width: 720px;
    text-align: center;
    font-family: "Poppins", sans-serif;

}
h1 {
}

img{
  border-radius: 10px;
}

figure{
  background-color: white;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}

figure img{
  border: 2px solid black;
  background: white;
  border-radius: 10px;
  width: 200px; 
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

figure img:hover{
  transform: scale(1.05);
}

#gallery{
  width: 600px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
}


div.lg-item,
div.lg-loaded,
div.lg-current,
div.lg-complete {
top: 0;
right: 0;
bottom: 0;
left: 0;
}


